:root {
  --tp-button-background-color: hsla(0, 0%, 70%, 1);
  --tp-button-background-color-hover: hsla(0, 0%, 85%, 1);
  --tp-base-background-color: hsla(160, 20%, 75%, 0.8);
  --tp-label-foreground-color: hsla(230, 5%, 30%, 0.7);
  --tp-base-shadow-color: hsla(0, 0%, 0%, 0.2);
  --close-color: hsla(0, 80%, 70%, 0.8);
  --node-header-height: 12px;
}

body {
  padding: 10px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #282c34;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

nav ul {
  padding: 0;
  margin: 0;
}

nav li {
  display: block;
  float: right;
  padding: 10px;
}

.node {
  position: absolute;
  z-index: 9;
  display: block;
}

.no-select {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.node-header {
  display: flex;
  height: var(--node-header-height);
  margin-bottom: 5px;
}

.grab {
  background-color: var(--tp-base-background-color);

  box-shadow: 0 2px 4px var(--tp-base-shadow-color);

  border-radius: 6px 0px 0px 6px;

  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;

  cursor: grab;
}
.grab:hover {
  filter: brightness(90%) saturate(150%);
}

.grab-dot {
  background-color: var(--tp-button-background-color-hover);
  border-radius: 50%;
  height: 4px;
  width: 4px;
  margin: 2px;
}

.dragging {
  cursor: grabbing;
}

.close {
  background-color: var(--close-color);
  box-shadow: 0 2px 4px var(--tp-base-shadow-color);

  border-radius: 0px 6px 6px 0px;

  width: var(--node-header-height);
  margin-left: 5px;
}

.close:hover {
  filter: brightness(90%) saturate(150%);
  cursor: pointer;
}

.cursor-circle {
  position: absolute;
  border-radius: 50%;
  pointer-events: none;
  background-color: hsla(0, 0%, 100%, 0.3);
  opacity: 30%;
  width: 0px;
  height: 0px;
  margin-top: 0px;
  margin-left: 0px;
  filter: blur(2px);
}
