:root {
  --tp-button-background-color: hsla(0, 0%, 70%, 1);
  --tp-button-background-color-hover: hsla(0, 0%, 85%, 1);
  --tp-base-background-color: hsla(160, 20%, 75%, 0.8);
  --tp-label-foreground-color: hsla(230, 5%, 30%, 0.7);
  --tp-base-shadow-color: hsla(0, 0%, 0%, 0.2);
  --close-color: hsla(0, 80%, 70%, 0.8);
  --node-header-height: 12px;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #282c34;
  margin: 0px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.ingredient-node {
  position: absolute;
  z-index: 9;
  display: block;
}

.plate-node {
  @extend .ingredient-node;
  top: 50%;
  right: 0px;
}

.no-select {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.node-header {
  display: flex;
  height: var(--node-header-height);
  margin-bottom: 5px;
}

.grab {
  background-color: var(--tp-base-background-color);

  box-shadow: 0 2px 4px var(--tp-base-shadow-color);

  border-radius: 6px 0px 0px 6px;

  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;

  cursor: grab;
}
.grab:hover {
  filter: brightness(90%) saturate(150%);
}

.grab-dot {
  background-color: var(--tp-button-background-color-hover);
  border-radius: 50%;
  height: 4px;
  width: 4px;
  margin: 2px;
}

.dragging {
  cursor: grabbing;
}

.close {
  background-color: var(--close-color);
  box-shadow: 0 2px 4px var(--tp-base-shadow-color);

  border-radius: 0px 6px 6px 0px;

  width: var(--node-header-height);
  margin-left: 5px;
}

.close:hover {
  filter: brightness(90%) saturate(150%);
  cursor: pointer;
}

.cursor-circle {
  position: absolute;
  border-radius: 50%;
  pointer-events: none;
  background-color: hsla(0, 0%, 100%, 0.3);
  opacity: 30%;
  width: 0px;
  height: 0px;
  margin-top: 0px;
  margin-left: 0px;
  filter: blur(2px);
}

%terminal {
  border: 0px solid hsla(0, 0%, 20%, 0.9);
  background-color: var(--tp-button-background-color-hover);
  position: relative;
  width: 4px;
  height: 10px;
  transition: all 300ms, border 100ms;
  z-index: -1;
}

%terminal:hover {
  border: 2px solid hsla(0, 0%, 20%, 0.7);

  cursor: grab;
}

.terminal-in {
  @extend %terminal;
  border-radius: 50% 10% 10% 50%;
  right: 4px;
}

.terminal-out {
  @extend %terminal;
  border-radius: 10% 50% 50% 10%;
  left: 4px;
}

%terminal-expand {
  width: 10px;
  border-radius: 50% 50% 50% 50%;
}

.terminal-expand-in {
  @extend %terminal-expand;
  margin-right: -8px;
}

.terminal-expand-out {
  @extend %terminal-expand;
  margin-left: -8px;
}

%terminal-rack {
  display: flex;
  align-items: center;
  justify-content: center;

  border-radius: 6px 6px 6px 6px;
  background-color: var(--tp-base-background-color);
  box-shadow: 0 2px 4px var(--tp-base-shadow-color);

  position: relative;
  width: 4px;
  height: 20px;
  z-index: -3;
  transition: all 300ms;
}

.terminal-rack-in {
  @extend %terminal-rack;
  right: 10px;
  margin-right: -4px;
}

.terminal-rack-out {
  @extend %terminal-rack;
  left: 10px;
  margin-left: -4px;
}
